<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      
    <div class="alert alert-danger" role="alert">
      <h3>Error</h3>
      <h5>Please make sure your password meet the below requirement:</h5>
      <p>*Please make sure your password is not less the five(6) characters</p>
      <!-- <p>*Please make sure your password has numerial values in it</p> -->
    </div>

    <script type="text/javascript">   
      function Redirect() 
      {  
        window.location.href = "/signup";
      } 
      setTimeout('Redirect()', 2500);   
  </script>
  </body>
</html>